<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org " xmlns:sec="www.w3.org/1999/xhtml">
<head>
    <th:block th:fragment = "head">
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>Bootcamp Finder</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="build.css"/>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"/>
        <!-- Optional theme -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/paper/bootstrap.min.css"/>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <style>
            #demo { text-align: center;
                    font-family: "Helvetica Neue", "Open Sans", Arial, sans-serif}
            #copyright{ text-align: center;
                font-family: "Helvetica Neue", "Open Sans", Arial, sans-serif}

        </style>
    </th:block>
    <title>Bootcamp Finder</title>
</head>

<body>
<th:block th:fragment ="navbar">
    <nav class="navbar navbar-ct-blue navbar-static-top navbar-transparent" role="navigation" >
        <div class="container">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav nav-justified">

                        <li><a href="/"><h3>Bootcamp Finder</h3></a></li>

                            <li>
                                <a href="/register" sec:authorize="isAnonymous()">
                                    <h3>Sign Up</h3>
                                </a>
                            </li>
                            <li><a href="/login" sec:authorize="isAnonymous()"><h3>Login</h3></a></li>


                            <li><a href="/logout" sec:authorize="isAuthenticated()"><h3>Logout</h3></a></li>

                                <li><a href="/search" sec:authorize="hasAuthority('STUDENT')"><h3>Search</h3></a></li>


                    </ul>
                </div>
            </div>
        </div>
    </nav>    <!---Nav bar -->
    <br/><br/><br/><br/><br/>
</th:block>





<th:block th:fragment="footerlinks">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


    <p id ="copyright"> &copy; Beta Group </p>
    <p id="demo"></p>
<a href ="/">Home</a>
    <script>
        var d = new Date();
        document.getElementById("demo").innerHTML = d.toDateString();

    </script>

</th:block>








</body>
</html>