<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org " xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head th:replace="base :: head">
</head>
<body>
<nav class="navbar navbar-default" th:replace="base::navbar"> </nav>
<div class="container">

    <div class="=jumbotron">
        <h1 th:text="${bootcamp.bootcampName}">name error</h1>
        <p>
            <th:block th:text="${bootcamp.streetAddress}"> streen error</th:block>
            <th:block th:text="${bootcamp.state}"> streen error</th:block>
            <th:block th:text="${bootcamp.city}"> streen error</th:block>
            <th:block th:text="${bootcamp.zipCode}"> streen error</th:block>
        </p>
        <p th:text="${bootcamp.date}">date error</p>
        <p th:text="${bootcamp.topics}">topics error</p>
        <p th:text="${bootcamp.description}">description error</p>

    </div>

    <div class="col-md-4">
        <center><h2>Testimonial</h2></center>
        <th:block th:each="test : ${testimonials}">
            <div class="well">
                <h3 th:text="${test.userName}">username error</h3>
                <p th:text="${test.message}">message error</p>
            </div>
        </th:block>
    </div>

    <div class="col-md-4">
        <br/><br/><br/>
        <a class="btn btn-default btn-block" th:href="@{'/apply/' + ${bootcamp.bootcampDirector} }" role="button">APPLY &raquo;</a>
        <br/><br/><br/>
        <a class="btn btn-default btn-block" th:href="@{'/email/' + ${bootcamp.bootcampId} }" role="button">EMAIL &raquo;</a>
    </div>

    <div class="col-md-4">
        <h4>Feedback</h4>
        <form action="#" th:action="@{'/testimonial/' + ${bootcamp.bootcampId} }" th:object="${testimonial}" method="POST">
            <textarea rows="7" cols="35" placeholder="Enter Your Comment here"  th:field="*{message}"></textarea>
            <p><input type="submit" class="btn btn-primary btn-block" value="testify"/></p>
        </form>
    </div>

</div>
</body>
</html>