<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head th:replace="base :: head">
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-default" th:replace="base::navbar"> </nav>
<div class="container">


    <div class="=jumbotron">
        <h1 th:text="${bootcamp.bootcampName}">name error</h1>
        <p>
            <th:block th:text="${bootcamp.streetAddress}"> streen error</th:block>
            <th:block th:text="${bootcamp.state}"> streen error</th:block>
            <th:block th:text="${bootcamp.city}"> streen error</th:block>
            <th:block th:text="${bootcamp.zipCode}"> streen error</th:block>
        </p>
        <p th:text="${bootcamp.topics}">topics error</p>
        <p th:text="${bootcamp.description}">description error</p>

    </div>


    <!--<table class="table table-hover">
            <tr th:each="link : ${bootcamp}">
                <td th:text = "${link.bootcampName}"></td>
                <td th:text = "${link.streetAddress}"></td>
                <td th:text = "${link.city}">
            </tr>
        </table>
        <table>
            <tr th:each="link : ${bootcamp}">
                <h3 style="font-family:Tahoma;color:#006699";>Boot Camp Director</h3>
                <h4 style="font-family:Tahoma;color:#006699"; th:text="${link.bootcampDirector}"></h4>
                <h4 style="font-family:Tahoma;color:#006699"; th:text="${link.bootcampName}"></h4>
                <h5> This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.
                    This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</h5></p>
                </h5>
            </tr>
        </table>
-->

    <div class="col-md-4">
        <center><h2>Testimonial</h2></center>
        <th:block th:each="test : ${testimonals}">
            <div class="well">
                <h3 th:text="${test.userName}">username error</h3>
                <p th:text="${test.message}">message error</p>
            </div>
        </th:block>
    </div>

    <div class="col-md-4">
        <br/><br/><br/>
        <a class="btn btn-default btn-block" th:href="@{'/apply/' + ${bootcamp.bootcampDirector} }" role="button">APPLY &raquo;</a>
        <br/><br/><br/>
        <a class="btn btn-default btn-block" th:href="@{'/email/' + ${bootcamp.bootcampId} }" role="button">EMAIL &raquo;</a>
    </div>

    <div class="col-md-4">
        <h4>Feedback</h4>
        <form action="#" th:action="@{/testimonial/{id} (id=bootcamp.bootcampId)}" th:object="${testimonial}" method="POST">
            <textarea rows="7" cols="35" placeholder="Enter Your Comment here"  th:field="*{message}"></textarea>
            <p><input type="submit" class="btn btn-primary btn-block" value="testify"/></p>
        </form>

    </div>

</div>
</body>
</html>