<!DOCTYPE html> <!-- req: list of message "messages", user with user info "activeUser" -->
<html lang="en" xmlns:th="www.thymeleaf.org " xmlns:sec="www.thymeleaf.org/extras/spring-security" >
<head>
    <th:block th:replace="base :: head">head error</th:block>
</head>
<body>
<th:block th:replace="base :: navbar">nav error</th:block>
<div class="container">

    <div class="row">

        <div class="col-md-4">
            <!-- profile -->
            <div class="well">
                <p th:text="${user.fullName}">full name error</p>
                <p th:text="${user.userName}">username error</p>
                <p th:text="${user.email}">email error</p>
                <p>
                    <th:block th:text="${user.street}">street error</th:block>
                    <th:block th:text="${user.city}">city error</th:block>
                    <th:block th:text="${user.state}">state error</th:block>
                    <th:block th:text="${user.zip}">zip error</th:block>
                </p>
            </div>
            <!-- profile -->

            <!-- messages -->
            <div class="well">
                <table class="table table-striped">
                    <thead>
                        <th>sender</th>
                        <th>title</th>
                        <th>view</th>
                    </thead>
                    <th:block th:each="message : ${messages}">
                        <tr>
                            <td th:text="${message.sender}">sender error</td>
                            <td th:text="${message.title}">title error</td>
                            <td>
                                <a th:href="@{'/viewMessage/' + ${message.id} }">
                                    <button class="btn btn-xs btn-info">view</button>
                                </a>
                            </td>
                        </tr>
                    </th:block>
                    <tr>
                        <td>-end-</td>
                        <td>-end-</td>
                        <td>-end-</td>
                    </tr>
                </table>
            </div>
            <!-- messages -->

        </div>

        <div class="col-md-8">

            <!-- student application -->
            <th:block sec:authorize="hasAuthority('STUDENT')">
                <div class="well">
                    <form th:object="${app}" method="POST" action="/saveApp">
                        <input type="text" class="form-control" name="degree" th:field="${app.degree}" placeholder="degree"/>
                        <input type="text" class="form-control" name="skills" th:field="${app.skills}" placeholder="skills"/>
                        <input type="text" class="form-control" name="yrsExperience" th:field="${app.yrsExperience}" placeholder="years experience"/>
                        <input type="hidden" name="userName" th:value="${user.userName}"/>
                        <input type="submit" value="save" class="btn btn-success btn-block"/>
                    </form>
                </div>
            </th:block>
            <!-- student application -->

            <!-- bootcamp application -->
            <th:block sec:authorize="hasAuthority('DIRECTOR')">

                <div class="well">
                    <form th:object="${camp}" method="POST" action="/saveCamp">
                        <input type="text" class="form-control" name="bootcampName" th:field="${camp.bootcampName}" placeholder="camp name"/>
                        <input type="text" class="form-control" name="streetAddress" th:field="${camp.streetAddress}" placeholder="street"/>
                        <input type="text" class="form-control" name="state" th:field="${camp.state}" placeholder="state"/>
                        <input type="text" class="form-control" name="city" th:field="${camp.city}" placeholder="city"/>
                        <input type="text" class="form-control" name="zipCode" th:field="${camp.zipCode}" placeholder="zipCode"/>
                        <input type="text" class="form-control" name="topics" th:field="${camp.topics}" placeholder="topics"/>
                        <input type="text" class="form-control" name="description" th:field="${camp.description}" placeholder="description"/>
                        <input type="hidden" name="bootcampDirector" class="form-control" th:value="${user.userName}"/>
                        <input type="submit" value="save" class="btn btn-success btn-block"/>
                    </form>
                </div>

                <div class="well">

                    <th:block th:each="test : ${testimonials}">

                        <div class="well">

                            <h3 th:text="${test.userName}">username error</h3>
                            <p th:text="${test.message}">message error</p>
                            <a th:href="@{'/deletetest/' + ${test.id}">
                                <button class="btn btn-danger btn-block">delete</button>
                            </a>

                        </div>

                    </th:block>

                </div>

            </th:block>
            <!-- bootcamp application -->

        </div>

    </div>

</div>

</body>
</html>