<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org " xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>New User Registration</title>
    <th:block th:replace="base :: head"></th:block>
</head>
<body>
<div class="jumbotron">
    <center>
        <h1>Welcome to boot-camp finder!</h1>
        <p>please login below</p>
    </center>
</div>

<div class="container">

    <br/><br/>
    <div class="well">
        <form method="POST" th:action="@{/login}">

            <!-- inputs -->
            <input type="text" class="form-control" th:field="*{username}" placeholder="username"/> <br/><br/>
            <input type="password" class="form-control" th:field="*{password}" placeholder="password"/><br/><br/>
            <!-- inputs -->

            <!-- submit -->
            <input type="submit" class="form-control btn btn-primary" value="login"/><br/><br/>
            <!-- submit -->

        </form>
    </div>

</div>

</body>
</html>