<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org " xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="base :: head"></th:block>
</head>
<body>
<th:block th:replace="base :: navbar">nav error</th:block>
<div class="jumbotron">
    <center>
        <h1>Welcome to BootCamp Finder!</h1>
        <p>Please login below.</p>
    </center>
</div>
<div class="container">
    <br/>
    <div class="well">
        <form method="POST" th:action="@{/login}">

            <!-- validate -->
            <div th:if="${param.error}">
                Invalid username and password.
            </div>
            <div th:if="${param.logout}">
                You have been logged out.
            </div>
            <!-- validate -->

            <!-- inputs -->
            <input type="text" class="form-control" name="username" placeholder="Username"/> <br/><br/>
            <input type="password" class="form-control" name="password" placeholder="Password"/><br/><br/>
            <!-- inputs -->

            <!-- submit -->
            <input type="submit" class="form-control btn btn-primary" value="login"/><br/><br/>
            <!-- submit -->

        </form>
    </div>

</div>

</body>
</html>