<!DOCTYPE html>  <!-- req: new User() "user" submit to "/register" -->
<html lang="en" xmlns:th="www.thymeleaf.org " xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="base :: head"></th:block>
</head>
<body>
<th:block th:replace="base :: navbar">nav error</th:block>
<div class="jumbotron">
    <center>
        <h1>Welcome to boot-camp finder!</h1>
        <p>please register below</p>
    </center>
</div>

<div class="container">
    <br/><br/>
    <div class="well">
        <form th:object="${user}" method="POST" th:action="@{/register}">
            <div class="row">

                <!-- validate -->
                <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">email error</span>
                <span th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">userName error</span>
                <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">password error</span>
                <!-- validate -->

                <!-- user info -->
                <span class="col-md-4"><input type="text" class="form-control" th:field="*{fullName}" placeholder="full name"/><br/><br/></span>
                <span class="col-md-4"><input type="text" class="form-control" th:field="*{userName}" placeholder="username"/><br/><br/></span>
                <span class="col-md-4"><input type="email" class="form-control" th:field="*{email}" placeholder="email"/><br/><br/></span>
                <span class="col-md-4"><input type="text" class="form-control" th:field="*{city}" placeholder="city"/><br/><br/></span>
                <span class="col-md-4"><input type="text" class="form-control" th:field="*{state}" placeholder="state"/><br/><br/></span>
                <span class="col-md-4"><input type="text" class="form-control" th:field="*{street}" placeholder="street name"/><br/><br/></span>
                <span class="col-md-4"><input type="number" class="form-control" th:field="*{zip}" placeholder="zip"/><br/><br/></span>
                <!-- user info -->

                <!-- password -->
                <span class="col-md-4"><input type="password" class="form-control" th:field="*{password}" placeholder="password"/><br/><br/></span>
                <!-- password -->

                <!-- role picker -->
                <span class="col-md-4">
                    <center>
                        <h6>
                            <strong><u>what are you?</u></strong> <br/><br/>
                            <input type="radio" id="director" name="role" value="director" th:field="*{role}"/>&nbsp;director&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" id="student" name="role" value="student" th:field="*{role}"/>&nbsp;student&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </h6>
                    </center>
                </span><br/><br/>
                <!-- role picker -->

                <!-- submit -->
                <span class="col-md-12">
                    <br/>
                    <input type="submit" class="btn btn-lg btn-primary btn-block" value="register"/>
                </span>
                <!-- submit -->

            </div><!-- row -->
        </form><!-- form -->
    </div><!-- well -->
</div><!-- container -->
<script>
    //check students role picker by default
    document.getElementById('student').checked = true;
</script>
</body>
</html>