<!DOCTYPE html>  <!-- req: new User() "user" submit to "/register" -->
<html lang="en" xmlns:th="www.thymeleaf.org " xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="base :: head"></th:block>
</head>
<body>
<th:block th:replace="base :: navbar">nav error</th:block>
<div class="jumbotron">
    <center>
        <h1>Welcome to boot-camp finder!</h1>
        <p>please register below</p>
    </center>
</div>

<div class="container">

    <br/><br/>
    <div class="well">
        <form th:object="${user}" method="POST" th:action="@{/register}">

            <div class="row">

                <!-- user info -->
                <span class="col-md-4"> <input type="text" class="form-control" th:field="*{fullName}" placeholder="full name"/><br/><br/></span>
                <span class="col-md-4"> <input type="text" class="form-control" th:field="*{username}" placeholder="username"/><br/><br/></span>
                <span class="col-md-4"> <input type="email" class="form-control" th:field="*{email}" placeholder="email"/><br/><br/></span>
                <span class="col-md-4"> <input type="text" class="form-control" th:field="*{city}" placeholder="city"/><br/><br/></span>
                <span class="col-md-4"> <input type="text" class="form-control" th:field="*{state}" placeholder="state"/><br/><br/></span>
                <span class="col-md-4"> <input type="text" class="form-control" th:field="*{street}" placeholder="street name"/><br/><br/></span>
                <!-- user info -->

                <!-- password -->
                <span class="col-md-4"><input type="password" class="form-control" th:field="*{password}" placeholder="password"/><br/><br/></span>
                <!-- password -->

                <!-- role picker -->
                <span class="col-md-4">
                    <center>
                        <h6>
                            <strong>what are you? </strong> &nbsp;&nbsp;
                            director<input type="radio" id="director"/>&nbsp;&nbsp;
                            student<input type="radio" id="student"/>&nbsp;&nbsp;
                        </h6>
                    </center>
                </span><br/><br/>
                <!-- role picker -->

                <!-- submit -->
                <input type="submit" class="col-md-4 btn btn-lg btn-primary" value="register"/><br/><br/>
                <!-- submit -->

            </div>
        </form>
    </div>
    <script>
        //check students role picker by default
        document.getElementById('student').checked = true;
    </script>

</div>


</body>
</html>