<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org " xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="base :: head">head error</th:block>
</head>
<body>
<th:block class="navbar navbar-default" th:replace="base::navbar">nav error</th:block>

<div class="container">
    <div class="jumbotron">

        <table class="table table-hover">

            <tr>
                <td><input class="form-control" id="search_input" type="text"/></td>
                <td><button id="search_button" class="btn btn-info btn-block">search</button></td>
                <td><a href="/city"><button class="btn btn-success btn-block">view camps in your city</button></a></td>
            </tr>

            <tr>
                <th>Boot Camps</th>
                <th>Topics</th>
                <th>view bootcamp</th>
            </tr>

            <th:block th:each="camp : ${camps}">
                <tr>
                    <td th:text="${camp.bootcampName}">name error</td>
                    <td th:text="${camp.topics}">topics error</td>
                    <td>
                        <a th:href="@{bootcamp/{id}(id=${camp.bootcampId})}">
                            <button type="button" class="btn btn-primary btn-sm">view bootcamp details</button>
                        </a>
                    </td>
                </tr>
            </th:block>
        </table>
    </div>
</div>

<form id="form" th:action="@{/searchTerm}" th:object="${bootcamp}" method="post">
    <input id="form_input" type="hidden" th:field="*{bootcampName}"/>
</form>

<script>
    const ID = id => document.getElementById(id);
    $('#search_button').click( () => {
        ID('form_input').value = ID('search_input').value;
        ID('form').submit();
    });
</script>

</body>
</html>


