<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head th:replace="base :: head">
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="jumbotron">
    <nav class="navbar navbar-default" th:replace="base::navbar"> </nav>
    <table class="table table-hover" >
        <tr>
            <th>Boot Camps</th>
            <th>Street Address</th>
            <th>Topic</th>

        </tr>
                <tr th:each = "link : ${NewZipList}">
                <td th:text = "${link.bootcampName}"></td>
                <td th:text = "${link.city}"></td>
                <td th:text = "${link.state}"></td>

        <td><a th:href="@{bootcamp/{id}(id=${link.bootcampId})}"><button type="button" class="btn btn-primary">View</button></a></td>
        </tr>
    </table>
    </div>
    </div>
</body>
</html>